body{
    margin:0px;
    padding:0px;
    height:100vh;
    box-sizing: border-box;
    border-style: solid;
    border-color:red;
    border-width:10px;
}

.container{
    margin:20px;
    box-sizing: border-box;
    border-style: solid;
    border-color:green;
    border-width:10px;
}